@font-face {
    font-family: "Roobert TRIAL";
    src: url("../assets/fonts/Roobert-Regular/RoobertTRIAL-Regular.woff") format("woff"),
        url("../assets/fonts/Roobert-Regular/RoobertTRIAL-Regular.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Roobert TRIAL";
    src:url("../assets/fonts/Roobert-Medium/RoobertTRIAL-Medium.woff") format("woff"),
        url("../assets/fonts/Roobert-Medium/RoobertTRIAL-Medium.woff2") format("woff2");
    font-weight: 500;
}