
/********** GENERAL STYLES ****************/



:root{

    /* Font */
    --font-principal:"Roobert TRIAL";
    --font-regular:300;
    --font-medium:500;

    /*line-height*/
    --lh-base: 1.0;

    
    /* Colors */
    --primary-color: #66EFE5;
    --secondary-color: #4540DB;
    --tertiary-color: #202430;
    --lightText: #f5f5f5;
    --bege: #f0e3d8;
    --clear-bege:#F0E3D8;
    --white: #ffffff;

}





